<!DOCTYPE html>
<html lang="en">
    <style>
        body{
            background-image: url('static/css/aboutpage.png');
            height: 100%;   
            background-repeat: no-repeat;
            background-size: cover; 
        }
        img{
            height: 500px;
        }
    </style>
    <head>
        <script src='static/js/jquery-3.6.0.min.js'></script>
        <script src='static/js/login.js'></script>
        <script src='static/js/notifications.js'></script>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">
        <title>About Us!</title>
    </head>
    <body>

        <div class="header">
            {% include "loginnavbar.html" %}
        </div>
        
        <div class="maincontent">
            <h1 class="title">Split The House!</h1>
            <div class="maintext"> 
                <p>As a student moving into second year of university, a new issue arose when it came to housing.</p>
                <p><i>I had to get it myself.</i></p>
                <p>The convenience of a university offering me a place to live was far in the past, and a future of managing bills was the future.</p>
                <p>I had found some friends to live with, and realised that as head-tenant, I would need to manage all the money and bills in the future. With my lack of organisation I knew this was going to be tough.</p>
                <p>I had to design something easy, convenient, and useful to allow me, and maybe others, to manage my bills across the household.</p> 
                <p><b>Split The House was born.</b></p> 
                <p>On this website you will be able to create a household, invite members to join it, and send bills to be paid by other tenants. They will receive a notification to do so, and you will see it as an outstanding bill. Once they pay it off, they can remove the outstanding bill.</p> 
                <p><i>So what are you waiting for?</i> Join us for a simplified world of managing bills.</p> 
                <img src="static/css/logo.png">
                <br>
                <br>
                <br>
                <p>yare yare daze, you've scrolled down too far</p>
            </div>
        </div>
        
    </body>
</html>

