<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background-image: url('static/css/homepage.png');
            height: 100%;   
            background-repeat: no-repeat;
            background-size: cover; 
        }
    </style> 
    <head>
        <script src='static/js/jquery-3.6.0.min.js'></script>
        <script src='static/js/notifications.js'></script>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">
        <title>Split The House</title>
    </head>

    <div class="header">
        {% include "loginnavbar.html" %}
    </div>

    <body>
        <div class="maincontent">
            <div class="maintext"> 
                <h1>The Final Solution To Your Bills</h1>     
                <p>Sometimes the bills can be a pain. We understand this.</p>
                <p>And no, crying is not <em>always</em> the answer.</p>
                <p>With this website, you will have the opportunity to create a household to be able to split bills between tenants.</p>
                <p>Gone are the days of being aired when asked for your money, Mr. Head Tenant.</p>
                <br>
                <p>So what are you waiting for? Register <b>today!</b></p>
            </div>
        </div>
    </body>
</html>
